html{
margin: 0;
padding: 0;
height: 100%;
}
body{
background-color: #30629a;
margin: 0;
padding: 0;
height: 100%;
}
p{
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: white;
text-align: center;
margin: 30px 0px;
}
a{
font-family: 'Roboto', sans-serif;
font-weight: 300;
color: white;
text-decoration: none;
}
.content{
width: 100%;
display: inline-block;
overflow: hidden
}
section{
width: 500px;
float: left;
margin-left: 120px;
}



#header{
background-color: white;
padding: 10px;
border: none;
height: 100px;
}
#logo{
margin: 10px 0 0 5px;
float: left;
}
#book{
margin: 20px 0 0 20px;
}
#calendar{
margin: 20px 0 0 20px;
}
#bio{
margin: 20px 0 0 20px;
}
#ludwig{
float: left;
height: 250px;
width: 200px;
margin-left: 100px;
margin-top: 60px;
font-size: 25px;
}
#gandhi{
float: left;
height: 250px;
width: 200px;
font-size: 25px;
margin-left: 100px;
margin-top: 70px;

}





